*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position:fixed; 
    background-color: white;
    width: 100%;   
}
.menu{
    display: flex;
}
.jumbo{
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.titoloj{
    width: 25%;
}
.bottone{
    margin: 30px 0 20px;
    padding: 10px;
    background-color: rgb(60, 115, 204);
    color: white;
    border-style: none;
}
.freccia{
    font-size: 40px;
    margin-bottom: -70px;
}

.picjumbo{
    width: 650px;
    margin-top: 30%;
    margin-bottom: -45px;
}
.info{
    width: 70%;
    margin: 0 auto;
    padding-top: 10%;
}
.titolo{
    padding-bottom: 50px;
}
.colonne{
    display: flex;
    align-items: stretch;
    width: 100%;
}
.colonna1{
    border-style: groove;
    width: 100%;
    margin-right: 36px;
    margin-top: 55px;
}
.capo{
    text-align: center;
}
.rec{
    margin: 18px;
}
.colonna2{
    border-style: groove;
    width: 100%;
    margin-right: 36px;
    margin-top: 55px;
}
.colonna3{
    border-style: groove;
    width: 100%;
    margin-top: 55px;
}
.finfo{
    border-style: groove;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.text{
    width: 65%;
    display: flex;
}
.datiazienda{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.annulla{
    height: 40px;
    background-color: rgb(60, 115, 204);
    color: white;
    border-style: none;
}
.ufficio{
    margin: 20px 0 60px;
}
.ciao3{
    display: flex;
    margin-left: 70%;
}
.ptitolo{
    text-align: center;
    
}
.infopartner{
    display: flex;
    padding-top: 10%;
}
.picpartner{
    width: 50%;
}
.testo{
    margin: 60px;
}
.bottone-partner{
    width: 35%;
    height: 15%;
    margin-top: 10%;
}

.app{
    margin-top: 10%;
    margin-bottom: 20%;
}
.struttura{
    display: flex;
    width: 100%;
}
.tools{
    margin: 10px 0 30px;
}
.windows{
    border-style: none;
    width: 100%;
    margin-right: 36px;
}
.img{
    width: 100%;
}
.partners{
    margin-top: 10%;
    width: 100%;
    display: flex;
    background-color: greenyellow;
}

.logo1{ 
    width: 44%;
}

.drop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    height: 75vh;
    background-color: rgb(133, 217, 217);
}
.contenitore{
    width: 70%;
    margin: 0 auto; 
}
.faq{
    width: 70%;
    margin: 0 auto;
    height: 85vh;
}
.faq-domande{
    margin: 15% 0 10%;
}
.domande{
    margin: 3% 0 3%;
}
footer{
        background-color: black;
        
}
.footer{
    color: white;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
    margin: 5% 0 5%;
}
ul{
    width: 190%;
}
.lista{
    padding-right: 14%;
}