*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position:; 
    width: 100%;   
}
.menu{
    display: flex;
}
.jumbo{
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.picjumbo{
    width: 800px;
    margin-top: 30%;
}
.info{
    width: 70%;
    margin: 0 auto;
    padding-top: 10%;
}
.titolo{
    background-color: blueviolet;
}
.colonne{
    display: flex;
    align-items: stretch;
    width: 100%;
}
.colonna1{
    border-style: solid;
    width: 100%;
    margin-right: 36px;
}
.colonna2{
    border-style: solid;
    width: 100%;
    margin-right: 36px;
}
.colonna3{
    border-style: solid;
    width: 100%;
}
.finfo{
    border-style: solid;
    width: 100%;
    margin-top: 5%;
}
.ptitolo{
    text-align: center;
    border-style: solid;
}
.infopartner{
    display: flex;
    padding-top: 10%;
}
.picpartner{
    width: 50%;
}
.app{
    margin-top: 10%;
    margin-bottom: 20%;
}
.struttura{
    display: flex;
    width: 100%;
}
.windows{
    border-style: solid;
    width: 100%;
    margin-right: 36px;
}
.img{
    width: 100%;
}
.partners{
    margin-top: 10%;
    width: 100%;
    display: flex;
}
.quadrato{
    background-color: aquamarine;

}
.logo1{
    
    width: 44%;
}
.logo2{
    width: 10%;
}
.logo3{
    width: 10%;
}
.logo4{
    width: 10%;
}