*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: chartreuse;
    height: 60px;    
}
.menu{
    display: flex;
}